.widget-mpris {
    background: rgba(30,30,30,0.35);
    border: 1px solid rgba(255,255,255,0.06);
    border-radius: 12px;

    padding: 10px;
    margin-top: 10px;
}

.widget-mpris-title {
    font-weight: bold;
    color: white;
}

.widget-mpris-subtitle {
    color: #aaaaaa;
}
